/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
/**
 * Usage
 * ----------------------------
 * font-family: 'MetricHPE';
   font-weight: 600;
   font-style: normal;
 * ----------------------------
 */
@font-face {
    src: url('fonts/MetricHPE-Web-Semibold.woff') format('woff'),
    url('fonts/MetricHPE-Web-Semibold.woff') format('woff');
    font-family: 'MetricHPE';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* Creative */
.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    background-color: #000000;
    border: 1px solid #000000;
    overflow: hidden;
}
/* BG image wrapper. */
.bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
/* HPE logo */
.hpe-logo img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90px;
}
/* Partner logo */
.partner-logo img {
    position: absolute;
    top: 10px;
    left: 10px;
}
/* Frame 1 Copy */
.frame-1-copy,
.frame-2-copy,
.frame-3-copy,
.frame-4-copy {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    font-family: 'MetricHPE';
    font-weight: 600;
    text-align: center;
    transform: translateX(-50%);
    /* outline: 1px dashed yellow; */
}
.bg-hotspot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* CTA */
.cta {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 5px 10px 5px 10px;
    font-family: 'MetricHPE';
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
}
.divider {
    display: block;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}



